/* CSS Document */
.header{
	padding: 16px 0;
	background: rgba(111,99,136,0.62);
}
.logo a{
	font-size: 30px;
	text-decoration: none;
	color:#FFFFFF;
}
.nav ul{
	list-style: none;
}
.nav li{
	margin: 0 16px;
}
.nav li a{
	text-decoration: none;
	color:#FFFFFF;
}
.nav li a:hover{
	opacity: 0.8
}
/*Header*/
.banner{
	background: url("pexels-wendy-wei-1601505.jpg");
	background-position: center; 
	background-size:cover;
	background-attachment:fixed;
	padding: 160px 0;
	color: white;
	height: 600px;
}
.banner h1{
	font-weight: 600;
	letter-spacing: 2px;
	word-spacing: 10px;
	padding-top: 160px
}
.banner p{
	margin: 8px 0 40px;
}
.a1{
	background:#A59EB5;
	color: white;
	text-decoration: none;
	padding: 8px 32px;
}
.a1:hover{
	opacity: .8;
}
/*banner*/
.section1{
	padding: 80px;
}
.section1 h1{
	margin-bottom: 40px;
}
.feature{
	overflow: hidden;
	height: 280px;
}
.content{
	padding: 32px 0;
}
.content p{
	margin: 16px 0;
}
.icon a{
	margin-left: 8px;
	color: #1f1f1f;
	font-size: 24px;
}
.section2{
	height: 600px;
}
.footer{
	height: 300px;
	padding-top: 80px;
	background: #0A0A0A;
	color: #FFFFFF;
}
.footer p{
	font-size: 13px;
}
.box2{
	padding-top: 80px;
}
